<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>    
    <experienceAnalytics>
      <aggregation>
        <flexibleDimensions>
          <!--Add references to your new dimension here -->
          <dimension id="{21BD1FCC-09E6-43C4-BAFE-E7A1088FCFEC}" type="Sitecore.ExperienceAnalytics.Aggregation.FlexibleMetrics.Framework.FlexibleDimension`2[[SampleEngagement.Feature.Catalog.Aggregation.FlexibleMetrics.Catalog.Product.ProductMetrics, SampleEngagement.Feature.Catalog], [Sitecore.Commerce.CustomModels.PageEvents.VisitedProductDetailsPageEvent, Sitecore.Commerce.Connect.Collection.Model]], Sitecore.ExperienceAnalytics.Aggregation">
            <param type="SampleEngagement.Feature.Catalog.Aggregation.FlexibleMetrics.Catalog.Product.ProductResolver, SampleEngagement.Feature.Catalog" />
            <param type="SampleEngagement.Feature.Catalog.Aggregation.FlexibleMetrics.Catalog.CatalogItemFactCalculator`2[[SampleEngagement.Feature.Catalog.Aggregation.FlexibleMetrics.Catalog.Product.ProductMetrics, SampleEngagement.Feature.Catalog],[Sitecore.Commerce.CustomModels.PageEvents.VisitedProductDetailsPageEvent, Sitecore.Commerce.Connect.Collection.Model]], SampleEngagement.Feature.Catalog"/>
          </dimension>
        </flexibleDimensions>
      </aggregation>
    </experienceAnalytics>
  </sitecore>
</configuration>