<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.Analytics" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.Analytics.Aggregation" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.Analytics.Core" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.Analytics.Model" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.Commerce.Connect.Collection.Model" version="13.0.16" targetFramework="net472" />
  <package id="Sitecore.ExperienceAnalytics.Aggregation" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.Kernel" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.Marketing.Taxonomy" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.XConnect" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.XConnect.Collection.Model" version="9.2.0" targetFramework="net472" />
</packages>