DECLARE @DateStart DATE = '20190801', @DateEnd DATE = '20191014'
DECLARE @VisitsStart int = '1', @VisitsEnd int = '100'
DECLARE @ValueStart int = '1', @ValueEnd int = '100'
DECLARE @ItemValueStart int = '1', @ItemValueEnd int = '100'
DECLARE @MonetaryValueStart int = '1', @MonetaryValueEnd int = '100'
DECLARE @ItemMonetaryValueStart money = '1', @ItemMonetaryValueEnd money = '100'
DECLARE @ConversionsStart money = '1', @ConversionsEnd money = '100'
DECLARE @ItemConversionsStart int = '1', @ItemConversionsEnd int = '100'
DECLARE @PageviewsStart int = '1', @PageviewsEnd int = '100'
DECLARE @ItemPageviewsStart int = '1', @ItemPageviewsEnd int = '100'
DECLARE @BouncesStart int = '1', @BouncesEnd int = '100'
DECLARE @TimeOnPageStart int = '1', @TimeOnPageEnd int = '100'
DECLARE @TimeOnSiteStart int = '1', @TimeOnSiteEnd int = '100'
DECLARE @OutcomeOccurrencesStart int = '1', @OutcomeOccurrencesEnd int = '100'
DECLARE @ItemOutcomeOccurrencesStart int = '1', @ItemOutcomeOccurrencesEnd int = '100'

DECLARE @SegmentId varchar(max) = '6A657EF2-648F-4BED-A4CF-62BA550E39AF'
DECLARE @SiteNameId varchar(max) = '-636518654'

SELECT 
	ProductId,
	SitecoreId,
	--[DimensionKeys].DimensionKeyId,
	SegmentId.SitecoreId + '_' + SegmentId.ProductId As [DimensionKey],
	-- The SegmentRecordId generated here is no the same as the one generated by Sitecore which migh cause issues if you are you careful. If you need an implementation that needs
	-- be 100% accurate I would recommend doing data generation in C# and copy the way Sitecore does it.
	CHECKSUM(UPPER(@SegmentId + '-' + CAST(DateRange.[Date] as varchar(max)) + '-' + @SiteNameId + '-' + CAST(SegmentId.dimensionKeyId as varchar(max)))) As [SegmentRecordId],
	@SegmentId As [SegmentId],
	DateRange.[Date],
	@SiteNameId As [SiteNameId],
	SegmentId.dimensionKeyId,
	FLOOR(RAND(convert(varbinary, newid()))*((@VisitsEnd - @VisitsStart)-1)+@VisitsStart) As [Visits]																 ,
	FLOOR(RAND(convert(varbinary, newid()))*((@ValueEnd - @ValueStart)-1)+@ValueStart) As [Value]																	 ,
	FLOOR(RAND(convert(varbinary, newid()))*((@ItemValueEnd - @ItemValueStart)-1)+@ItemValueStart) As [ItemValue]													 ,
	FLOOR(RAND(convert(varbinary, newid()))*((@MonetaryValueEnd - @MonetaryValueStart)-1)+@MonetaryValueStart) As [MonetaryValue]									 ,
	FLOOR(RAND(convert(varbinary, newid()))*((@ItemMonetaryValueEnd - @ItemMonetaryValueStart)-1)+@ItemMonetaryValueStart) As [ItemMonetaryValue]					 ,
	FLOOR(RAND(convert(varbinary, newid()))*((@ConversionsEnd - @ConversionsStart)-1)+@ConversionsStart) As [Conversions]											 ,
	FLOOR(RAND(convert(varbinary, newid()))*((@ItemConversionsEnd - @ItemConversionsStart)-1)+@ItemConversionsStart) As [ItemConversions]							 ,
	FLOOR(RAND(convert(varbinary, newid()))*((@PageviewsEnd - @PageviewsStart)-1)+@PageviewsStart) As [Pageviews]													 ,
	FLOOR(RAND(convert(varbinary, newid()))*((@ItemPageviewsEnd - @ItemPageviewsStart)-1)+@ItemPageviewsStart) As [ItemPageviews]									 ,
	FLOOR(RAND(convert(varbinary, newid()))*((@BouncesEnd - @BouncesStart)-1)+@BouncesStart) As [Bounces]															 ,
	FLOOR(RAND(convert(varbinary, newid()))*((@TimeOnPageEnd - @TimeOnPageStart)-1)+@TimeOnPageStart) As [TimeOnPage]												 ,
	FLOOR(RAND(convert(varbinary, newid()))*((@TimeOnSiteEnd - @TimeOnSiteStart)-1)+@TimeOnSiteStart) As [TimeOnSite]												 ,
	FLOOR(RAND(convert(varbinary, newid()))*((@OutcomeOccurrencesEnd - @OutcomeOccurrencesStart)-1)+@OutcomeOccurrencesStart) As [OutcomeOccurrences]				 ,
	FLOOR(RAND(convert(varbinary, newid()))*((@ItemOutcomeOccurrencesEnd - @ItemOutcomeOccurrencesStart)-1)+@ItemOutcomeOccurrencesStart) As [ItemOutcomeOccurrences]
INTO #Fact_ProductMetrics_Temp
FROM
(	SELECT	
		ProductId,
		SitecoreId,
		[DimensionKeys].*
	FROM (
		SELECT 
			substring(id,len('Entity-SellableItem-')+1, len(id)) as ProductId, 
			substring(entity, CHARINDEX('SitecoreId', entity) + 13, 36) as SitecoreId
		FROM [habitathome_SharedEnvironments].[dbo].[CatalogEntities]
		where id like 'Entity-SellableItem%'
	) SegmentId_Inner
	INNER JOIN [habitathome_Reporting].[dbo].[DimensionKeys]
		ON ([SegmentId_Inner].SitecoreId + '_' + [SegmentId_Inner].ProductId) COLLATE DATABASE_DEFAULT = [DimensionKeys].[DimensionKey] COLLATE DATABASE_DEFAULT 
)  SegmentId
CROSS JOIN
(
	SELECT DATEADD(DAY,number+1,@DateStart) [Date] FROM master..spt_values WHERE type = 'P' AND DATEADD(DAY,number+1,@DateStart) < @DateEnd
) DateRange

DELETE FROM [habitathome_Reporting].[dbo].Fact_ProductMetrics 
WHERE [habitathome_Reporting].[dbo].Fact_ProductMetrics.SegmentRecordId 
	IN (SELECT SegmentRecordId FROM #Fact_ProductMetrics_Temp)

INSERT INTO [habitathome_Reporting].[dbo].Fact_ProductMetrics
SELECT  
	[SegmentRecordId],
	[SegmentId],
	[Date],
	[SiteNameId],
	[DimensionKeyId],
	[Visits],
	[Value],
	[ItemValue],
	[MonetaryValue],
	[ItemMonetaryValue],
	[Conversions],
	[ItemConversions],
	[Pageviews],
	[ItemPageviews],
	[Bounces],
	[TimeOnPage],
	[TimeOnSite],
	[OutcomeOccurrences],
	[ItemOutcomeOccurrences]
FROM #Fact_ProductMetrics_Temp

SELECT DISTINCT
	ProductId,
	SitecoreId
FROM #Fact_ProductMetrics_Temp

SELECT * FROM #Fact_ProductMetrics_Temp

SELECT TOP (4) [DimensionKeys].*, [Fact_ProductMetrics].*
  FROM [habitathome_Reporting].[dbo].[Fact_ProductMetrics]
  INNER JOIN [habitathome_Reporting].[dbo].[DimensionKeys]
  ON [Fact_ProductMetrics].[DimensionKeyId] = [DimensionKeys].[DimensionKeyId]

DROP TABLE #Fact_ProductMetrics_Temp



